* {
  box-sizing: border-box;
}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.875;
  color: #252525;
  margin: 0;
}

header {
  background-color: #252525d2;
  color: white;
  padding: 2rem;
}

h1, main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

main {
  width: 95%;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.App {
  height: 100%;
}

.main__form {
  flex: 4;
}

.feature {
  padding: 0.8rem;
  padding-top: 0.4rem;
  border-color: #252525;
}

.feature + .feature {
  margin-top: 0.8rem;
}

.feature legend {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.feature__item + .feature__item {
  margin-top: 6px;
}

/* Hide radios from sighted users,
while keeping them available to the keyboard */
.feature__option {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.feature__label {
  display: block;
  padding: 0.2rem;
}

.feature__option:checked + .feature__label {
  background: #dedede;
}

.feature__option:focus + .feature__label {
  outline: 0.2rem solid blue;
  outline-offset: 0.2rem;
}

.feature__option:not(:checked) + .feature__label {
  cursor: pointer;
}

.feature__option:not(:checked) + .feature__label:hover,
.feature__option:not(:checked):focus + .feature__label {
  background-color: #dedede52
}

.main__summary {
  flex: 3;
  margin: 0.2rem;
  padding: 0 0.8rem;
}

.summary__option {
  display: grid;
  grid-template-areas:
    'key cost'
    'value value';
  margin-top: 1rem;
}

.summary__option__label {
  font-weight: bold;
  grid-area: key;
}

.summary__option__value {
  grid-area: value;
}

.summary__option__cost {
  grid-area: cost;
  text-align: right;
}

.summary__total {
  font-size: 2.2rem;
  line-height: 2.4;
  display: flex;
  margin-top: 1.5rem;
  border-top: solid 1px #252525;
}

.summary__total__label {
  font-weight: bold;
  flex: 2;
}

.summary__total__value {
  text-decoration: underline;
}
